params {
    manifest = null
    pipeline = null
    tools = null
    run_config = null
    reference_fasta = null
    keep_intermediates = false
    outdir = 'results'
}

process {
    errorStrategy = 'terminate'
    withName: /ALIGN_.*/ {
        label = 'alignment'
    }
    withName: /ADD_READGROUPS|MARK_PCR_DUP|INDEL_REALIGNMENT|BQ_RECALIBRATION|FINALIZE_PREPROCESSING|PREPROCESSING_STEP_LOG/ {
        label = 'preprocessing'
    }
    withName: /GATK_HAPLOTYPECALLER|VARIANTCALLING_STEP_LOG|VARIANTCALLING_ASSERT_SUCCESS/ {
        label = 'variantcalling'
    }
    withName: /POSTPROCESS_VARIANTS|POSTPROCESSING_STEP_LOG|POSTPROCESSING_ASSERT_SUCCESS/ {
        label = 'postprocessing'
    }
    withName: /ANNOTATE_VARIANTS|ANNOTATION_STEP_LOG|ANNOTATION_ASSERT_SUCCESS/ {
        label = 'annotation'
    }
}

trace {
    overwrite = true
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = params.queue ?: null
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u 1000:1000 -v /home/jarvis:/home/jarvis -v /media:/media -v /home/jarvis/.vep/Plugins/GeneSplicer:/GeneSplicer -v /home/jarvis/.vep/Plugins/MaxEntScan:/MaxEntScan -v /home/jarvis/.vep/Plugins/dbSNFP:/dbSNFP'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }
}
