params {
    manifest = null
    pipeline = null
    tools = null
    run_config = null
    reference_fasta = null
    keep_intermediates = false
    outdir = 'results'
}

process {
    errorStrategy = 'terminate'
    withName: /ALIGN_.*/ {
        label = 'alignment'
    }
    withName: /ADD_READGROUPS|MARK_PCR_DUP|FINALIZE_PREPROCESSING|PREPROCESSING_STEP_LOG/ {
        label = 'preprocessing'
    }
}

trace {
    overwrite = true
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = params.queue ?: null
    }

    docker {
        docker.enabled = true
        process.container = params.container ?: null
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        process.container = params.container ?: null
    }
}
